page-butiran-projek {


  .tajuk {
    color: #162FD1;
    text-transform: uppercase;
    text-align: justify;
    text-justify: inter-word;
  }

  ion-content>.scroll-content {
    margin-bottom: 50px;
  }

}
