<!--
  Generated template for the PaparGambarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><span class="bar-title" text-wrap>Papar Gambar</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--<ion-card class="class_title">
    <ion-card-content>
      <div>{{tajuk_kontrak}}</div>
    </ion-card-content>
</ion-card>-->
  <div class="thumbs">
    <div class="inner">
      <img src="{{ image.src }}">
    </div>
  </div>
  <ion-card class="bg_transparent">
    <ion-card-content class="desc-bg" *ngIf="image.catatan != ''">
      <p class="desc">
        {{image.catatan}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer no-padding>
  <ion-toolbar no-padding>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-2 no-padding>
          <button ion-button full icon-only class="bg_transparent" (click)="prev()" [disabled]="prevDisabled">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </button>
        </ion-col>

        <ion-col>
          <div ion-text text-center class="pagination" *ngIf="(curIdx != -1)">
            Gambar {{curIdx+1}} drpd {{images.length}}
          </div>
        </ion-col>

        <ion-col col-2 no-padding>
          <button ion-button full icon-only class="bg_transparent" (click)="next()" [disabled]="nextDisabled">
            <ion-icon name="arrow-dropright"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>